version: "3.8"

services:
  crm:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    environment:
      - PORT=8000
    ports:
      - "8000:8000"
    env_file:
      - .env.staging
