version: "3.8"

services:
  crm:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UV_INDEX_URL: https://flowbot-user:88qbA6RXJGHt@pypi.flowrms.com/simple/
    environment:
      - PORT=8000
    ports:
      - "8000:8000"
    env_file:
      - .env.staging
