name: Build, Push, and Deploy to K8S

on:
  push:
    branches:
      - v6
      - v6-production

jobs:
  publish-graphql-schema:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'v6-production' && 'v6-production' || 'v6-staging' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install -g @graphql-hive/cli
      - run: |
          hive schema:publish \
            --registry.accessToken ${{ secrets.HIVE_PUBLISHING_TOKEN }} \
            --service "backend" \
            --url "${{ secrets.GRAPHQL_ENDPOINT }}" \
            --author "${{ github.actor }}" \
            --commit "${{ github.sha }}" \
            --target "flowrms/flowrms-v6/${{ secrets.ENVIRONMENT }}" schema.graphql

  publish-admin-graphql-schema:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'v6-production' && 'v6-production' || 'v6-staging' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install -g @graphql-hive/cli
      - run: |
          hive schema:publish \
            --registry.accessToken ${{ secrets.HIVE_PUBLISHING_TOKEN }} \
            --service "admin" \
            --url "${{ secrets.ADMIN_GRAPHQL_ENDPOINT }}" \
            --author "${{ github.actor }}" \
            --commit "${{ github.sha }}" \
            --target "flowrms/flowrms-v6/${{ secrets.ENVIRONMENT }}" admin.schema.graphql

  build-and-deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'v6-production' && 'v6-production' || 'v6-staging' }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set image tag
        id: set_tags
        run: |
          if [ "${{ github.ref_name }}" == "v6-production" ]; then
            echo "image_tag=${{ secrets.DOCKER_REGISTRY }}/flow-py-backend:production-${{ github.sha }}" >> $GITHUB_OUTPUT
            echo "latest_tag=${{ secrets.DOCKER_REGISTRY }}/flow-py-backend:production-latest" >> $GITHUB_OUTPUT
          else
            echo "image_tag=${{ secrets.DOCKER_REGISTRY }}/flow-py-backend:staging-${{ github.sha }}" >> $GITHUB_OUTPUT
            echo "latest_tag=${{ secrets.DOCKER_REGISTRY }}/flow-py-backend:staging-latest" >> $GITHUB_OUTPUT
          fi

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ steps.set_tags.outputs.image_tag }}
            ${{ steps.set_tags.outputs.latest_tag }}
          build-args: |
            GITHUB_TOKEN=${{ secrets.WORKFLOW_TOKEN }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Trigger Render deploy
        run: |
          IMAGE_TAG=$(echo "${{ steps.set_tags.outputs.image_tag }}" | sed 's|.*/||')
          ENCODED_IMAGE_URL=$(echo "${{ steps.set_tags.outputs.image_tag }}" | jq -sRr @uri)
          curl -f "${{ secrets.RENDER_DEPLOY_HOOK_URL }}&imgURL=${ENCODED_IMAGE_URL}"
        env:
          RENDER_DEPLOY_HOOK_URL: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
