name: Build, Push, and Deploy to K8S

on:
  push:
    branches:
      - v6
      - v6-production

jobs:
  publish-graphql-schema:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'v6-production' && 'v6-production' || 'v6-staging' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install -g @graphql-hive/cli
      - run: |
          hive schema:publish \
            --registry.accessToken ${{ secrets.HIVE_PUBLISHING_TOKEN }} \
            --service "flowconnect-backend" \
            --url "${{ secrets.GRAPHQL_ENDPOINT }}" \
            --author "${{ github.actor }}" \
            --commit "${{ github.sha }}" \
            --target "flowrms/flowrms-v6/${{ secrets.ENVIRONMENT }}" schema.graphql

  publish-admin-graphql-schema:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'v6-production' && 'v6-production' || 'v6-staging' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install -g @graphql-hive/cli
      - run: |
          #hive schema:publish \
            #--registry.accessToken ${{ secrets.HIVE_PUBLISHING_TOKEN }} \
            #--service "flowconnect-admin" \
            #--url "${{ secrets.ADMIN_GRAPHQL_ENDPOINT }}" \
            #--author "${{ github.actor }}" \
            #--commit "${{ github.sha }}" \
            #--target "flowrms/flowrms-v6/${{ secrets.ENVIRONMENT }}" admin.schema.graphql
